* {
    padding: 0;
    margin: 0;
    font-family: arial;
}

header {
    height: 36px;
    background-color: #ededed;
}

.navbar {
    height: 36px;
    padding: 0px 48px;
    display: flex;
}

.basketball {
    height: 36px;
    width: 505px;
}

.img {
    height: 36px;
    width: 19px;
    justify-content: center;
    align-items: center;
    display: flex;
}

img {
    height: 19px;
    width: 18px;
    cursor: pointer;
}

.nav-contanair {
    height: 36px;
    width: 750px;
    right: 0px;
    font-size: 20px;
    align-items: center;
    justify-content: end;
    display: flex;
}

.con {
    height: 36px;
    padding: 0px 3px;
    font-weight: 550;
    font-size: 13.5px;
    color: #111111;
    align-items: center;
    justify-content: end;
    display: flex;
}

pre:hover {
    cursor: pointer;
    opacity: 0.5;
}

.help {
    height: 36px;
    width: 50px;
}

.contanair {
    height: 270px;
    width: 350px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #636363;
    position: relative;
    top: 38px;
    left: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.nav-box {
    height: 238px;
    width: 190px;
}

h5 {
    color: #111111;
    font-size: 19px;
    padding-bottom: 10px;
}

p {
    padding-bottom: 8px;
    font-size: 13.05px;
}

.hide {
    display: none;
}

.contan-bar {
    height: 60px;
    align-items: center;
    display: flex;
}

#nike {
    height: 60px;
    width: 67px;
    padding-left: 38px;
}

.div {
    width: 768px;
    margin-left: 165px;
    justify-content: center;
    display: flex;
}

.text {
    height: 30px;
    margin: 0px 0px 2px 18px;
    font-size: 18px;
    font-weight: 550;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text:hover {
    cursor: pointer;
    border-bottom: 2px solid black;
}

.nike-search {
    height: 38px;
    width: 170px;
    border-radius: 25px;
    background-color: #ededed;
    align-items: center;
    display: flex;
}

.search-icon {
    height: 38px;
    width: 38px;
    font-size: 20px;
    font-weight: 200;
    border-radius: 50%;
    background-color: #ededed;
    justify-content: center;
    align-items: center;
    display: flex;
}

input {
    height: 38px;
    width: 130px;
    font-size: 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #ededed;
    outline: none;
    font-weight: bold;
    border: none;
}

input:hover {
    background-color: #d8d8d8;
}

.nike-search:hover {
    background-color: #d8d8d8;
}

.icon {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    left: 30px;
    font-size: 19px;
}

.icon:hover {
    background-color: #d8d8d8;
}

.new-style {
    height: 74px;
    background-color: #f0f0f0;
    justify-content: center;
    display: flex;
}

.style {
    height: 64px;
    padding-top: 10px;
}

.New {
    font-size: 18px;
    font-weight: 550;
}

.Shop {
    font-size: 14px;
    font-weight: 550;
    text-decoration-line: underline;
    justify-content: center;
    cursor: pointer;
    display: flex;
}

.shose-bar {
    height: 552px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.shose {
    height: 580px;
    width: 1223px;
    padding: 0px 58px;
    position: relative;
    top: 15px;
    cursor: pointer;
}

.shose-image {
    height: 470px;
    width: 1243px;
}

.shoe_img {
    height: 100%;
    width: 100%;
}

#Have {
    font-size: 60px;
    font-weight: 1900;
    justify-content: center;
    display: flex;
}

#This {
    justify-content: center;
    display: flex;
    font-size: 16px;
}

.A {
    height: 30px;
    justify-content: center;
    display: flex;
    position: relative;
    top: 20px;
}

#B {
    width: 70px;
}

#C {
    width: 100px;
}

.shop {
    width: 80px;
    height: 38px;
    border-radius: 30px;
    font-size: 17px;
    background-color: #111111;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px;
    margin-left: 7px;
    cursor: pointer;
}

.shop:hover {
    background-color: #929292;
}

.trending-bar {
    height: 519px;
    position: relative;
    top: 180px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.trending {
    height: 520px;
    width: 1090px;
}

#p {
    height: 28px;
    font-size: 25px;
    padding: 0px;
    margin-bottom: 20px;
}

.trend {
    height: 540px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#trending-image {
    height: 460px;
    width: 360px;
    margin-left: 10px;
}

#trend-text {
    font-size: 22px;
    margin: 20px 0px 0px 9px;
    cursor: pointer;
}

.Classics-Spotlight {
    height: 395px;
    position: relative;
    top: 330px;
}

#Classices {
    font-size: 26px;
    font-weight: 550;
    margin-left: 65px;
}

#shoe-bar {
    overflow-y: auto;
    padding-left: 390px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#shoe {
    height: 338px;
    width: 300px;
    padding-left: 10px;
}

.dont-miss {
    height: 1002px;
    position: relative;
    top: 120px;
}

#Dont {
    padding-left: 50px;
    font-size: 26px;
    font-weight: 550;
}

.dont {
    width: 1115px;
    padding: 0px 20px 0px 120px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#d {
    height: 700px;
    width: 630px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#P {
    font-size: 17px;
    font-weight: 500;
    margin-top: 50px;
    justify-content: center;
    display: flex;
}

#op {
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    display: flex;
}

.shop-by {
    height: 409px;
    margin-left: 35px;
    margin-right: 20px;
    position: relative;
    top: 200px;
    overflow-y: hidden;
}

.shop-bar {
    height: 50px;
    width: 1115px;
    display: flex;
}

.symbol {
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 50%;
    background-color: #dfdfdf;
    position: relative;
    left: 920px;
    margin-left: 13px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#sym2:hover {
    background-color: #c7c5c5;
}

.images {
    height: 340px;
    margin: 15px 25px 0px 20px;
    padding-left: 27px;
    display: flex;
    gap: 10px;
}

.opps {
    height: 300px;
    width: 440px;
}

#opps {
    height: 300px;
    width: 440px;
}

#t {
    height: 35px;
    width: 90px;
    padding: 0px;
    font-size: 16px;
    font-weight: 550;
    border-radius: 30px;
    background-color: #eeeaea;
    position: relative;
    bottom: 75px;
    left: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#t:hover {
    background-color: #ccc5c5;
}

.footer-bar {
    height: 300px;
    position: relative;
    top: 210px;
    justify-content: center;
    display: flex;
    
}

.footer-box {
    height: 200px;
    width: 200px;
    position: relative;
    top: 18px;
    margin-left: 60px;
}

#word {
    font-size: 19px;
    font-weight: 550;
}

#words {
    font-size: 16px;
    font-weight: 550;
    color: #5c5959;
}

#words:hover {
    color: #111111;
    cursor: pointer;
}

.footer-bar2 {
    height: 550px;
    margin: 0px 50px;
    border-top: 0.5px solid #e4e4e4;
    display: flex;
    position: relative;
    top: 130px;
}

.footer-text {
    height: 275px;
    width: 241px;
    margin: 60px 0px 0px 0px;
}

.nav-footer {
    font-size: 16px;
    font-weight: 550;
    padding-bottom: 25px;
}

.footer {
    font-size: 15px;
    font-weight: 550;
    color: #5c5959;
}

#f {
    margin: 60px 90px 0px 90px;
}

.india {
    display: flex;
    padding-left: 300px;
    gap: 5px;
}

.last-line {
    height: 25px;
    margin: 0px 50px;
    align-items: center;
    display: flex;
}

.last-text {
    font-size: 16px;
    font-weight: 550;
    padding: 0px 20px 0px 0px;
    color: #5c5959;
}

#he:hover {
    background-color: #111111;
    color: #e9e4e4;
}